html,
body {
    width: 100%
    height: 100%;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.content {
    padding: 10px;
    margin: 10px auto 10px auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.navbar-left {
    margin: 10px 0px 10px 0px;
    padding: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.navbar-left h1 {
    color: #fff;
    padding: 0px;
    margin: 3px 0px 10px 0px;
    background-color: #03A9F4;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

table {
    table-layout: fixed;
}

.text-white {
    color: #fff;
}

.flash {
  -moz-animation: flash 1s ease-out;
  -moz-animation-iteration-count: 1;

  -webkit-animation: flash 1s ease-out;
  -webkit-animation-iteration-count: 1;

  -ms-animation: flash 1s ease-out;
  -ms-animation-iteration-count: 1;
}

@-webkit-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #fbf8b2; }
    100% { background-color: none; }
}

@-moz-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #fbf8b2; }
    100% { background-color: none; }
}

@-ms-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #fbf8b2; }
    100% { background-color: none; }
}

li {
    border-bottom: 1px solid #ccc;
}

.btn {
    color: #fff;
}

.btn-blue {
    color: #fff;
    background-color: #2196f3;
}

.btn-blue:hover {
    color: #fff;
    background-color: #21aaf3;
}

a.btn-blue {
    color: #fff;
}

a.btn-blue:hover {
    color: #fff;
}

.panel-blue {
    border-color: #2196f3;
}

.panel-blue > .panel-heading {
    color: #ffffff;
    background-color: #2196f3;
    border-color: #2196f3;
}

.tertandai {
    background-color: #E3F2FD !important;
}

.icon-blue {
    color: #2196f3;
}